.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 50%
    right: 55%
    width: 20%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 68%
    right: 22%
    width: 15%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 12%
    right: 12%
    width: 18%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 600px !important  

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal

.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner_interno.png") !important

.barra-avance__boton--regresar span 
  color: white !important
 
.subt
  position: relative
  width: fit-content
  padding-right: 20px
  &::before
    content: ''
    position: absolute
    background-color: #FFE2B9
    border-radius: 200px
    width: 100%
    height: 55%
    top: 18px
    left: 14px
    z-index: 0
  h3, img
    z-index: 999  
    position: relative
  @media (max-width: $bp-max-xs)
    &::before
      height: 100%
      top: 1px

.subt2
  position: relative
  width: fit-content
  padding-right: 20px
  &::before
    content: ''
    position: absolute
    background-color:  #FFE2B9
    border-radius: 200px
    width: 100%
    height: 55%
    top: 18px
    left: 14px
    z-index: 0
  h3, img
    z-index: 999  
    position: relative
  @media screen and (min-device-width: 767px) and (max-device-width: 1180px)
    &::before
      height: 107%
      top: -12px
    h3
      margin-left: 100px
      margin-top: -54px
      padding-bottom: 23px
  @media screen and (max-width: 767px)
    &::before
      height: 140%
      top: -24px
    h3
      margin-left: 2px
      margin-top: -9px
      padding-bottom: 4px


//fondos y bordes

.borde-redondo
  border-radius: 25px

.borde-redondo-abajo
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

.borde-redondo-arriba
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.borde-recto-abajo
  border-bottom-left-radius: 0px
  border-bottom-right-radius: 0px

.borde-recto-arriba
  border-top-left-radius: 0px
  border-top-right-radius: 0px

.borde-redondo-izq
  border-top-left-radius: 20px
  border-bottom-left-radius: 20px

.borde-redondo-der  
  border-top-right-radius: 20px
  border-bottom-right-radius: 20px

.bgazulclaro
  background-color: #D1F1FF

.bgazulclaro2
  background-color: #ECF9FF

.bgamarilloclaro
  background-color: #FFE2B9

.bgamarilloclaro2
  background-color: #FFF0DC

.bgamarilloclaro3
  background-color: #FFF9DF

.bgamarillo
  background-color: #FFB751

.bgverdemate
  background-color: #D5DFD6

.bgverde
  background-color: #2F5E34

.bgverdeclaro
  background-color: #EBEFEB

.bgrosado
  background-color: #F4E6E6

.bgrosadoclaro
  background-color: #F8F2F4

.bg-color-20 

.bgrojo
  background-color: #8F0000

.bgblanco
  background-color: white

.bgprimario
  background-color: #FFB751
  
.bgfondo11
  background: url('../assets/curso/t1/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover

.bgfondotar1
  background: url('../assets/curso/t2/fondotar1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover

.bgfondotar2
  background: url('../assets/curso/t2/fondotar2.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover


// viñetas

.fa-ol
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 20px
      font-size: 1.4rem

.fa-al
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 19px
      font-size: 1.4rem

//temas

.bloque-texto-g__img.mover
    width: 21%
    top: 15px
    bottom: 5px
    right: 31px

.bloque-texto-g__texto.agrandar 
    width: 74%

.mover_sub
  margin-top: -17px
  margin-left: -5px

.tarjeta.color-terciario
  background-color: #ECF9FF

.tabs-a__tab 
  background-color:  #2F5E34
  color: white

.tarjeta.color-adiconal-1
  background-color: #D1F1FF

.ImagenInfografica.color-amarillo
  background-color: #FFF8EE

.tarjeta.color1
  background-color: #FFE2B9

.tarjeta.color2
  background-color: #E8CCCC

table th, table td 
  text-align: left

.tabla-a thead 
  background-color: #ECF9FF

table caption 
  font-weight: 500

.tabla-a.color-secundario.estilo1
  table
    min-width: auto
    text-align: center
    @media (max-width: $bp-max-md)
      min-width: 800px !important
    @media (max-width: $bp-max-xs)
      min-width: 800px !important    
  th
    line-height: 0
    text-align: center
  td
    line-height: 0
    text-align: center
    background-color: white
    padding: 19px 19px

.tarjeta-audio.color-secundario
  background-color: #F4E6E6

.tarjeta-audio 
  border: 4px solid

.tarjeta-audio.color-secundario .tarjeta-audio__texto
  color: black
  font-style: normal !important  

.movercajonrosado
  position: relative
  z-index: 1
  top: -70px

.movercajonverde
  position: relative
  z-index: 2

.tarjeta--boton.bginactiva
  background: url('../assets/curso/t2/tar1_ia.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover

.tarjeta--boton.bginactiva:hover
  background-image: url('../assets/curso/t2/tar2_ac.png')

.img-t
  width: auto
  height: auto

.img-a
  display: block
  margin: auto

.tabla-a.color-secundario.estilo2
  table
    min-width: auto
    text-align: center
    @media (max-width: $bp-max-md)
      min-width: 800px !important
    @media (max-width: $bp-max-xs)
      min-width: 800px !important    
  th
    line-height: 0
    text-align: center
  td
    text-align: center
    background-color: white
    padding: 7px 7px

.tabla-a.color-secundario.estilo3
  table
    min-width: auto
    text-align: left
    @media (max-width: $bp-max-md)
      min-width: 800px !important
    @media (max-width: $bp-max-xs)
      min-width: 800px !important    
  th
    line-height: 0
    text-align: left
  td
    text-align: start
    vertical-align: top
    background-color: white
    padding: 7px 7px

.tabla-a.color-secundario.estilo4
  table
    min-width: auto
    text-align: center
    @media (max-width: $bp-max-md)
      min-width: 800px !important
    @media (max-width: $bp-max-xs)
      min-width: 800px !important    
  th
    line-height: 0
    text-align: center
  td
    text-align: center
    background-color: white
    padding: 8px 8px

.tabla-a.color-secundario.estilo5
  table
    min-width: auto
    text-align: center
    @media (max-width: $bp-max-md)
      min-width: 800px !important
    @media (max-width: $bp-max-xs)
      min-width: 800px !important    
  th
    line-height: 1
    text-align: center
  th.izquierdo
    text-align: start
  td
    text-align: center
    background-color: white
    padding: 8px 8px
  td.izquierdo
    text-align: start


.tabla-a.color-secundario.estilo6
  table
    min-width: auto
    text-align: center
    @media (max-width: $bp-max-md)
      min-width: 800px !important
    @media (max-width: $bp-max-xs)
      min-width: 800px !important    
  th
    line-height: 0
    text-align: center
  th.izquierdo
    text-align: start
  td
    text-align: start
    padding: 8px 8px
  td.izquierdo
    text-align: start


.tabla-a.color-secundario.estilo7
  table
    min-width: auto
    text-align: left
    @media (max-width: $bp-max-md)
      min-width: 800px !important
    @media (max-width: $bp-max-xs)
      min-width: 800px !important    
  th
    line-height: 1
    text-align: left
  td
    text-align: start
    vertical-align: top
    background-color: white
    padding: 7px 7px

.tabs-c__tab--active 
  span 
   font-weight: bold

.tabs-c__content-item
  background-color: #EBEFEB

.bgfondo51
  background: url('../assets/curso/t5/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover

.pasos-b__header__btn--left
  background-color: #5B1E1E
  color: white

.pasos-b__header__btn--right
  background-color: #5B1E1E
  color: white

.pasos-b__header__item--before .pasos-b__header__item__dot 
  border-color: #CCCCCC
  background-color: white

.pasos-b__header__item__dot i
  color: #CCCCCC

.pasos-b__header__item--before .pasos-b__header__item__line-container:before
  background-color:  #CCCCCC

.pasos-b__header__item--before .pasos-b__header__item__line-container:after 
  background-color:  #CCCCCC

.pasos-b__header__item--active .pasos-b__header__item__line-container:before 
    background-color: #CCCCCC

.tabla-a.color-secundario.estilo7
  table
    min-width: auto
    text-align: center
    @media (max-width: $bp-max-md)
      min-width: 800px !important
    @media (max-width: $bp-max-xs)
      min-width: 800px !important    
  th
    line-height: 0,2
    text-align: center
  th.izquierdo
    text-align: start
  td
    text-align: center
    background-color: white
    padding: 8px 8px
  td.izquierdo
    text-align: start

.quitarborde
  border-right-color: #F8F2F4

.tabla-a.color-secundario.estilo8
  table
    min-width: auto
    text-align: start
    @media (max-width: $bp-max-md)
      min-width: 800px !important
    @media (max-width: $bp-max-xs)
      min-width: 800px !important    
  th
    line-height: 1
    text-align: left
  td
    text-align: start
    vertical-align: top
    background-color: white
    padding: 7px 7px